<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/resources.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/add-resource.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/resourceUI.js"></script>
</head>

<body>
  <!--NAV BAR-->
  <header class="container">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <a class="text-white">Resource Wall</a>
      <div class="nav-options">
        <!--LOGGED IN-->
        <form>
          <button type="button" class="btn btn-dark" id ='add-resource'>Add Resource</button>
        </form>
        <form>
          <button type="button" class="btn btn-dark" id ='my-resources'>My Resources</button>
        </form>
        <form action="/api/profile/:id" method="GET">
          <button type="button" class="btn btn-dark" id ='profile'>Profile</button>
        </form>
        <form>
          <button type="button" class="btn btn-dark" id ='logout'>Logout</button>
        </form>

        <!--LOGGED OUT-->
        <form>
          <button type="button" class="btn btn-dark" id ='register'>Register</button>
        </form>
        <form>
          <button type="button" class="btn btn-dark" id ='login'>Login</button>
        </form>
      </div>
    </nav>
  </header>

  <main>
    <!--SEARCH BAR-->
    <form id='search-bar' action="/resources" method="GET">
      <div class="input-group mb-3">
        <input name="input" type="text" class="form-control" placeholder="search" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>


    <% for(const i in titles) {%>
    <!--RESOURCE FRAME-->
    <section id="resource-wrapper">
      <div class="resource bg-light">
        <header>
          <a href="'<%=urls[i]%>"><%=urls[i]%></a>
          <div class="likes">
            <i class="fa-regular fa-heart"></i>
          </div>
        </header>

        <section class="title-description">
          <h2><%=titles[i]%></h2>
          <p><%=descriptions%></p>
        </section>

        <section class="tags">
          <label>
            <span class="badge bg-secondary">Search Engine</span>
            <span class="badge bg-secondary">Something</span>
            <span class="badge bg-secondary">Fancy</span>
          </label>
        </section>

        <footer>
          <div class='comment-dropdown'>
            <label>Comments <span id="number-of-comments" class="badge bg-secondary">55</span></label>
            <i class="fa-solid fa-angle-down"></i>
          </div>
          <div class="stars">
            <i class="fa-regular fa-star 1star"></i>
            <i class="fa-regular fa-star 2star"></i>
            <i class="fa-regular fa-star 3star"></i>
            <i class="fa-regular fa-star 4star"></i>
            <i class="fa-regular fa-star 5star"></i>
          </div>
        </footer>
      </div>
      <section id=<%=ids[i]%> class="comments">
        <div class="new-comment">
          <textarea class="form-control" placeholder="comment" aria-label="With textarea"></textarea>
          <button type="submit" class="btn btn-success">Comment</button>
        </div>
      </section>
    </section>
    <% } %>
  </main>


  <!--OVERLAY-->
  <section class="overlay">
    <!--LOGIN -->
    <section id="login-wrapper" class="login-wrapper">
      <form action="/api/login" method="POST">
        <h2>Login</h2>
        <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <div id="login-register">
          <button type="button" class="btn btn-dark">Register</button>
          <button type="submit" class="btn btn-success">Login</button>
        </div>
        <div class="close"><button type="button" class="btn btn-dark">Close</button></div>
      </form>
    </section>

    <!--REGISTER -->
    <section class="register-wrapper">
      <form action="/api/users" method="POST">
        <h2>REGISTER</h2>
        <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <div id="register-login">
          <button type="button" class="btn btn-dark">Login</button>
          <button type="submit" class="btn btn-success">Register</button>
        </div>
        <div class="close"><button type="button" class="btn btn-dark">Close</button></div>
      </form>
    </section>

    <!--ADD RESOURCE -->
    <section class="add-resource-wrapper">
      <form>
        <h2>Add Resource</h2>
        <input type="text" class="form-control" placeholder="url" aria-label="Username" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="title" aria-label="Password" aria-describedby="basic-addon1">
        <textarea class="form-control" placeholder="description" aria-label="With textarea"></textarea>
        <div id="resource-button">
          <button type="button" class="btn btn-success">Add Resource</button>
        </div>
        <div class="close"><button type="button" class="btn btn-dark">Close</button></div>
      </form>
    </section>
  </section>
</body>
</html>
