<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Resources</title>

  <!--EXTERNAL CSS-->
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <!--INTERNAL CSS-->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/resources.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/add-resource.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <link rel="stylesheet" href="/styles/add-tag.css" type="text/css" />

  <!--JQUERY-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!--JAVASCRIPT-->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/resourceUI.js"></script>
</head>

<body>
  <!--NAV BAR EJS-->
  <%- include('partials/_navbar') %>

  <!--MAIN PAGE CONTAINER (SEARCH BAR, OWNED RESOURCES AND LIKED RESOURCES)-->
  <main>
    <h1 class="text-white">Created Resources</h1>

    <!--PRINT ALL OWNED RESOURCES-->
    <% for(const i in owned.titles) {%>
      <!--RESOURCE FRAME-->
      <section id="resource-wrapper">
        <div class="resource bg-dark text-white">
          <header>
            <a href="<%=owned.urls[i]%>"><%=owned.urls[i]%></a>
            <form class="delete-button" action="/api/resources/<%=owned.ids[i]%>?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger" type="submit">Delete Resource</button>
            </form>
          </header>

          <section class="title-description">
            <h2><%=owned.titles[i]%></h2>
            <p><%=owned.descriptions[i]%></p>
          </section>

          <section class="tags">
            <label>
              <!--PRINT ALL TAGS-->
              <% for (const tag of owned.tags[owned.ids[i]]) { %>
                <span class="badge bg-secondary"><%=tag%></span>
              <% } %>
              <span class="badge bg-secondary add-tag">+</span>
            </label>
          </section>

          <footer>
            <div class='comment-dropdown'>
              <label>Comments </label>
              <i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="resource-rating">
              <label class="rating-label">5/5</label>
              <i class="fa-solid fa-star"></i>
            </div>
            <div value="<%=owned.ratings[i]%>" class="stars solid-stars">
              <!--SHOW APPROPRIATE STAR RATINGS ON LOAD-->
              <%  for(let count = 1; count <= 5; count++) { %>
                <% if (owned.ratings[i] >= count) { %>
                  <i style="visibility: visible;" class="fa-solid fa-star <%=count%>star starsIcons"></i>
                <% } else { %>
                  <i style="visibility: hidden;" class="fa-solid fa-star <%=count%>star starsIcons"></i>
                <% } %>
              <% } %>
            </div>
            <div class="stars">
              <i class="fa-regular fa-star 1star starsIcons"></i>
              <i class="fa-regular fa-star 2star starsIcons"></i>
              <i class="fa-regular fa-star 3star starsIcons"></i>
              <i class="fa-regular fa-star 4star starsIcons"></i>
              <i class="fa-regular fa-star 5star starsIcons"></i>
            </div>
          </footer>
        </div>
        <section id=<%=owned.ids[i]%> class="comments bg-dark text-white">
          <form class="new-comment">
            <textarea name="comment" class="form-control" placeholder="comment" aria-label="With textarea"></textarea>
            <button type="button" class="btn btn-success new-comment-button">Comment</button>
          </form>
        </section>
      </section>
      <% } %>

    <h1 class="text-white">Liked Resources</h1>

    <!--PRINT ALL LIKED RESOURCES-->
    <% for(const i in liked.titles) {%>
    <!--RESOURCE FRAME-->
    <section id="resource-wrapper">
      <div class="resource bg-dark text-white">
        <header>
          <a href="<%=liked.urls[i]%>"><%=liked.urls[i]%></a>
          <div value='true' class="likes">
            <!-- <form action="/api/likes/<%=liked.ids[i]%>?_method=DELETE"> -->
              <i value="liked" class="fa-solid fa-heart" type="submit"></i>
              <i class="fa-regular fa-heart" style="visibility:hidden" type="submit"></i>
            <!-- </form> -->
          </div>
        </header>

        <section class="title-description">
          <h2><%=liked.titles[i]%></h2>
          <p><%=liked.descriptions[i]%></p>
        </section>

        <section class="tags">
          <label>
            <!--PRINT ALL TAGS-->
            <% for (const tag of liked.tags[liked.ids[i]]) { %>
              <span class="badge bg-secondary"><%=tag%></span>
            <% } %>
            <span class="badge bg-secondary add-tag">+</span>
          </label>
        </section>

        <footer>
          <div class='comment-dropdown'>
            <label>Comments </label>
            <i class="fa-solid fa-angle-down"></i>
          </div>
          <div class="resource-rating">
            <label class="rating-label">5/5</label>
            <i class="fa-solid fa-star"></i>
          </div>
          <div value="<%=liked.ratings[i]%>" class="stars solid-stars">
            <!--SHOW APPROPRIATE STAR RATINGS ON LOAD-->
            <%  for(let count = 1; count <= 5; count++) { %>
              <% if (liked.ratings[i] >= count) { %>
                <i style="visibility: visible;" class="fa-solid fa-star <%=count%>star starsIcons"></i>
              <% } else { %>
                <i style="visibility: hidden;" class="fa-solid fa-star <%=count%>star starsIcons"></i>
              <% } %>
            <% } %>
          </div>
          <div class="stars regular-stars">
            <i class="fa-regular fa-star 1star starsIcons"></i>
            <i class="fa-regular fa-star 2star starsIcons"></i>
            <i class="fa-regular fa-star 3star starsIcons"></i>
            <i class="fa-regular fa-star 4star starsIcons"></i>
            <i class="fa-regular fa-star 5star starsIcons"></i>
          </div>
        </footer>
      </div>
      <section id=<%=liked.ids[i]%> class="comments bg-dark text-white">
        <form class="new-comment">
          <textarea name="comment" class="form-control" placeholder="comment" aria-label="With textarea"></textarea>
          <button type="button" class="btn btn-success new-comment-button">Comment</button>
        </form>
      </section>
    </section>
    <% } %>
  </main>


  <!--POPUP FORMS-->
  <!--TRANSLUCENT OVERLAY-->
  <section class="overlay">
    <!--LOGIN FORM-->
    <section id="login-wrapper" class="login-wrapper">
      <form>
        <h2 id="login-header">Login</h2>
        <input name="email" type="email" class="form-control" placeholder="email" aria-describedby="basic-addon1">
        <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <div id="login-register">
          <div class="close"><button type="button" class="btn btn-dark">Close</button></div>
          <button type="button" class="btn btn-success" id="login-button">Login</button>
        </div>
      </form>
    </section>

    <!--REGISTER FORM-->
    <section class="register-wrapper">
      <form action="/api/users" method="POST">
        <h2>REGISTER</h2>
        <input name="name" type="text" class="form-control" placeholder="name" aria-describedby="basic-addon1">
        <input name="email" type="email" class="form-control" placeholder="email" aria-describedby="basic-addon1">
        <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        <div id="register-login">
          <div class="close"><button type="button" class="btn btn-dark">Close</button></div>
          <button type="submit" class="btn btn-success">Register</button>
        </div>
      </form>
    </section>

    <!--ADD RESOURCE FORM-->
    <section class="add-resource-wrapper text-white">
      <form>
        <h2 class="bg-dark">Add Resource</h2>
        <input name="url" type="text" class="form-control" placeholder="url" aria-label="Username" aria-describedby="basic-addon1">
        <input name="title" type="text" class="form-control" placeholder="title" aria-label="Password" aria-describedby="basic-addon1">
        <textarea name="description" class="form-control" placeholder="description" aria-label="With textarea"></textarea>
        <div id="resource-button">
          <button type="button" class="btn btn-success" id="add-resource-button">Add Resource</button>
          <button type="button" class="btn btn-dark close">Close</button>
        </div>
      </form>
    </section>

    <!--ADD TAG FORM-->
    <section class="add-tag-wrapper text-white">
      <form>
        <h2 class="bg-dark">Add Tag</h2>
        <input name="tag" type="text" class="form-control" placeholder="tag" aria-describedby="basic-addon1">
        <div id="tag-button">
          <button type="button" class="btn btn-success" id="add-tag-button">Add Tag</button>
          <button type="button" class="btn btn-dark close">Close</button>
        </div>
      </form>
    </section>
  </section>
</body>
</html>
