<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/resources.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="/styles/add-resource.css" type="text/css" />
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/resourceUI.js"></script>
    <script type="text/javascript" src="/scripts/profileImage.js"></script>
  </head>

  <body>
    <%- include('partials/_navbar') %>
    <main id="profile-main">
      <div class="container rounded text-white bg-dark mt-5 mb-5">
        <div class="row">
            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                  <div class="profile-pic">
                    <label class="-label" for="file">
                      <span class="fas fa-camera"></span>
                      <span>Change Image</span>
                    </label>
                    <input id="file" type="file" onchange="loadFile(event)"/>
                    <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" id="output" width="200" />
                  </div>
                  <div class="user-info flex-column d-flex">
                    <span class="font-weight-bold"><%=name%></span>
                    <span class="text-white-50"><%=email%></span>
                  </div>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <form action="/api/profile/<%=user%>" method="POST">
                      <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="<%=name%>" name="name"></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email</label><input type="email" class="form-control" placeholder="<%=email%>" name="email"></div>
                        <div class="col-md-12"><label class="labels">Password</label><input type="password" class="form-control" placeholder="<%=password%>" name="password"></div>
                      </div>
                      <div class="mt-5 text-center"><button class="btn profile-button" type="submit">Save Profile</button></div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--OVERLAY-->
  <section class="overlay">
    <!--ADD RESOURCE -->
    <section class="add-resource-wrapper text-white">
      <form>
        <h2 class="bg-dark">Add Resource</h2>
        <input name="url" type="text" class="form-control" placeholder="url" aria-label="Username" aria-describedby="basic-addon1">
        <input name="title" type="text" class="form-control" placeholder="title" aria-label="Password" aria-describedby="basic-addon1">
        <textarea name="description" class="form-control" placeholder="description" aria-label="With textarea"></textarea>
        <div id="resource-button">
          <button type="button" class="btn btn-success" id="add-resource-button">Add Resource</button>
          <button type="button" class="btn btn-dark close">Close</button>
        </div>
      </form>
    </section>
  </section>
  </body>
</html>
